<mat-drawer-container class="example-container" [hasBackdrop]="backdrop">
  <mat-drawer #drawer class="navbar-style" [mode]="navbarMode">
    <app-sidenavcontent></app-sidenavcontent>
  </mat-drawer>
  <mat-drawer-content>
    <app-header [headerTitle]="headerTitle" (toggle)="drawer.toggle()"></app-header>

    <div *ngIf="this.blog$ | withLoading | async as blog">
      <mat-card *ngIf="blog.value" class="blog-view-style">
        <mat-card-header>
          <img *ngIf="blog.value.image !=null " mat-card-avatar src="{{ this.var }}{{ blog.value.image }}"
            class="example-header-image">
          <img *ngIf="blog.value.image ===null " mat-card-avatar src="assets/images/user.png"
            class="example-header-image">
          <mat-card-title>
            {{blog.value.header}}
          </mat-card-title>
          <mat-card-subtitle>Created by <strong>{{blog.value.createdBy}}</strong> on
            {{blog.value.createdTs | date:'dd-MM-yyyy HH:mm:ss'}}</mat-card-subtitle>
          <mat-card-subtitle>{{blog.value.genres}}</mat-card-subtitle>
          <div *ngIf="blog.createdBy === this.username" class="delete">
            <button (click)="delete()" mat-fab color="warn" title="Delete">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{blog.value.contentStr}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button title="Like Blog" [ngClass]="likedTggl ? 'blue' : ''" (click)="LikedBtn()"><i
              class="material-icons">thumb_up_alt</i></button>
          <button mat-raised-button title="Comment"><i class="material-icons">comment</i></button>
          <button mat-raised-button title="Favourite" [ngClass]="favTggl ? 'red' : ''" (click)="favBtn()"><i
              class="material-icons">star</i></button>
          <button mat-raised-button title="Read List" [ngClass]="rlTggl ? 'yellow' : ''" (click)="readListBtn()"><i
              class="material-icons">chrome_reader_mode</i></button>
        </mat-card-actions>
      </mat-card>

      <div class="spinner" *ngIf="blog.loading">
        <mat-spinner></mat-spinner>
      </div>

    </div>

  </mat-drawer-content>
</mat-drawer-container>