<mat-drawer-container class="example-container bg" [hasBackdrop]="backdrop">
    <mat-drawer #drawer class="navbar-style" [mode]="navbarMode">
        <app-sidenavcontent></app-sidenavcontent>
    </mat-drawer>
    <mat-drawer-content>
        <app-header [headerTitle]="headerTitle" (toggle)="drawer.toggle()"></app-header>

        <div *ngIf = "!pageload" class="spinner">
            <mat-spinner></mat-spinner>
        </div>

        <div class="form-container" *ngIf="userCompleteData!=null">
            <img [src]="imgUrl" class="image-style">

            <mat-divider></mat-divider>

            <div class="section">
                <div class="container">
                    <h1>Personal Information</h1>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="name">Name:</label>
                                </div>
                                <div class="col-9 value">
                                    <span>{{userCompleteData.name}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="name">Username:</label>
                                </div>
                                <div class="col-9 value">
                                    <span>{{userCompleteData.username}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="name">Email:</label>
                                </div>
                                <div class="col-9 value">
                                    <span>{{userCompleteData.email}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="name">DOB:</label>
                                </div>
                                <div class="col-9 value">
                                    <span>{{userCompleteData.dateOfBirth | date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="name">Interested Genres:</label>
                                </div>
                                <div class="col-9 value">
                                    <span>{{userCompleteData.genres}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-3 label">
                                    <label for="name"></label>
                                </div>
                                <div class="col-9 value">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="section">
                <div class="container">
                    <h1>Blogged Statistics</h1>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-6 label">
                                    <label for="name">Blogs Posted:</label>
                                </div>
                                <div class="col-6 value">
                                    <span>{{userCompleteData.blogCount}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-6 label">
                                    <label for="name">Liked Blogs:</label>
                                </div>
                                <div class="col-6 value">
                                    <span>500</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-6 label">
                                    <label for="name">Favourites:</label>
                                </div>
                                <div class="col-6 value">
                                    <span>32</span>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-6 label">
                                    <label for="name">Drafts:</label>
                                </div>
                                <div class="col-6 value">
                                    <span>23</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="text-align: center; padding: 5px;">
                <button mat-raised-button (click) = "navigateHome()" color="primary">Back</button>
            </div>
        </div>


        <button mat-fab class="edit-btn" color="primary" type="button"><i class="material-icons">edit</i></button>

    </mat-drawer-content>
</mat-drawer-container>