<mat-drawer-container class="example-container" [hasBackdrop]="backdrop">
    <mat-drawer #drawer class="navbar-style" [mode]="navbarMode">
        <img [src]="imgUrl" class="nav-content image-style">
        <span class="nav-content">{{username}}</span>
        <mat-divider></mat-divider>
        <span class="nav-content">
            <button (click)="navigateTo()" class="navbar-btn">Account <mat-icon>account_circle</mat-icon>
            </button></span>
        <span class="nav-content"><button class="navbar-btn">My Blogs <mat-icon>notes</mat-icon></button></span>
        <span class="nav-content"><button class="navbar-btn">Favourite <mat-icon>star_border</mat-icon></button></span>
        <span class="nav-content"><button class="navbar-btn">ReadList <mat-icon>chrome_reader_mode</mat-icon>
            </button></span>
        <span class="nav-content"><button class="navbar-btn">Liked Blogs <mat-icon>favorite_outline</mat-icon>
            </button></span>
        <span class="nav-content"><button (click) = "logout()" class="navbar-btn">Logout <mat-icon>logout</mat-icon>
            </button></span>
    </mat-drawer>
    <mat-drawer-content>
        <app-header [headerTitle]="headerTitle" (toggle)="drawer.toggle()"></app-header>
        
        <mat-card class="blog-view-style">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                {{truncateContent(content)}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="blog-view-style">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                {{truncateContent(content)}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

          <mat-card class="blog-view-style">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                {{truncateContent(content)}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>

          <button mat-raised-button color="primary" class="add-btn" type="button"><i class="material-icons">add</i></button>

    </mat-drawer-content>
</mat-drawer-container>