<mat-drawer-container class="example-container bg" [hasBackdrop]="backdrop">
  <mat-drawer #drawer class="navbar-style" [mode]="navbarMode">
    <app-sidenavcontent></app-sidenavcontent>
  </mat-drawer>
  <mat-drawer-content>
    <app-header [headerTitle]="headerTitle" (toggle)="drawer.toggle()"></app-header>

    <div *ngIf="!pageload" class="spinner">
      <mat-spinner></mat-spinner>
    </div>


      <mat-paginator *ngIf="pageload" style="width: 80%; margin-left: auto; margin-right: auto;" class=" box-design"
        [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5"></mat-paginator>

      <div *ngIf="pageload" class="blog-view-style box-design">
        <!-- Filter -->
        <mat-form-field class="filter" appearance="outline">
          <mat-label> Search </mat-label>
          <input matInput [(ngModel)]="searchText" (keyup)="doFilter($event.target.value)" placeholder="Enter Text">
          <button mat-icon-button title="clear" type="button" (click)="clearSearch()" matSuffix>
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
        <!-- End -->

        <div *ngFor="let blog of blogs$ | async">
          <a [routerLink]="['/blogs', blog.blogId]" style="text-decoration:none">
            <mat-card class="blogs box-design">
              <mat-card-header>
                <img *ngIf="blog.image !=null " mat-card-avatar src="{{ this.var }}{{ blog.image }}"
                  class="example-header-image">
                <img *ngIf="blog.image ===null " mat-card-avatar src="assets/images/user.png"
                  class="example-header-image">
                <mat-card-title>{{blog.header}}</mat-card-title>
                <mat-card-subtitle>Created by <strong>{{blog.createdBy}}</strong> on
                  {{blog.createdTs | date:'dd-MM-yyyy HH:mm:ss'}}</mat-card-subtitle>
                <mat-card-subtitle appHighlight [searchedWord]="searchText" [content]="blog.genres"
                  [classToApply]="'font-weight-bold'" [setTitle]="'true'">{{blog.genres}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <p appHighlight [searchedWord]="searchText" [content]="truncateContent(blog.contentStr)"
                  [classToApply]="'font-weight-bold'" [setTitle]="'true'">
                  {{truncateContent(blog.contentStr)}}
                </p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>

      </div>



      <button mat-fab (click)="moveToAddScreen()" class="add-btn" color="primary" type="button"><i
          class="material-icons">add</i></button>


  </mat-drawer-content>
</mat-drawer-container>